
.feedback-form{
border-radius: 8px;
    padding: 24px;
    width: 408px;
    height: 296px;
    display: flex;
    gap: 8px;
    flex-direction: column;
}

.label-e{
    width: 360px;
        height: 72px;
        display: flex;
        flex-direction: column;
       text-align: left;
       margin-bottom: 8px;
    font-weight: 400;
        font-size: 16px;
    
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: #2e2f42;
}

.input-e{
    width: 360px;
        height: 40px;
        padding-left: 16px;
        
}
.label-m{
    text-align: left;
    margin-bottom: 8px;
    font-weight: 400;
        font-size: 16px;

        line-height: 1.5;
        letter-spacing: 0.04em;
        color: #2e2f42;
}
.textarea-m{
    width: 360px;
        height: 80px;
    padding-left: 16px;
    padding-top: 8px;
}
.btn{
    border-radius: 8px;
        padding: 8px 16px;
        width: 95px;
        height: 40px;
        background-color: #4e75ff;;
        color: white;
        border: none;
}

.btn:hover,
.btn:focus{
    background: #6c8cff;
}
/* .input-e::placeholder{
padding-left: 16px;

} */